langchain
langchain-community
huggingface-hub
faiss-cpu
PyDictionary
sympy
sentence-transformers
google-generativeai
langchain-google-genai
PyPDF2
requests
python-dotenv
werkzeug
pandas
flask
numpy
matplotlib
seaborn